/* Global ==============================*/

:root {
    --purple: rgb(150, 8, 179);
    --dark-purple: rgb(77, 3, 77);
    --red: #e92929;
    --background: rgb(228, 226, 224);
    --background-card: white;
    --background-table-tr: white;
    --background-modal:  #f0f2f5;
    --background-form: white;
    --table-font: rgb(150, 8, 179);
    --new-transaction-font: rgb(150, 8, 179);
    --color-headings: rgb(77, 3, 77);
    --form-input-font: black;
    --help-font: rgb(138, 138, 138);
    --input-date-font: black;
    --footer-font: grey;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
}

body {
    background: var(--background);
    font-family: 'Poppins', sans-serif;
    
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(0,0,0,0);
    overflow: hidden;
    white-space: nowrap;
    border-width: 0;

}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* buttons and links ====================*/

a {
    color: var(--new-transaction-font);
    text-decoration: none;
    opacity: 1;
    font-weight: bold;
}

a:hover {
    opacity: 0.7;
}

button {
    width: 100%;
    height: 50px;
    border: none;
    background: var(--dark-purple);
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
}

button:hover {
    background: var(--purple);
}


.button.cancel {
    border: solid 2px var(--red);
    border-radius: 0.25rem;
    height: 50px;
    color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.button.cancel:hover {
    opacity: 1;
}

.button.new { 
    margin-bottom: 0.8rem;
    display: inline-block;
}

#theme-switch {
    position: absolute;
    top: 1rem;
    right: 1rem;
}


#theme-switch input {
    opacity: 0;
    position: absolute;
}

#theme-switch label {
    width: 50px;
    height: 26px;
    background: grey;
    display: block;
    text-indent: -9999px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
}

#theme-switch #ball {
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.2s ease-in-out;
}

#switch:checked + label {
    background: var(--dark-purple);
}

#switch:checked + label #ball {
    transform: translateX(24px);
}

/* Titles ===============================*/

h2 {
    margin-top: 3.2rem;
    color: var(--color-headings);
    font-weight: normal;
    margin-bottom: 0.8rem;
}

/* Header ===============================*/

header {
    background-color: var(--purple);
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo {
    color: white;
    font-weight: 100;
    
}

/* balance ===============================*/

#balance {
    margin-top: -8rem;
}

#balance h2 {
    margin-top: 0;
    color: white;
}

/* Cards ===============================*/

.card {
    background: var(--background-card);
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    color: var(--purple);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
}

.card.total {
    background: var(--dark-purple);
    color: white;
}

/* Table ===============================*/

#transaction {
    overflow-x: auto;
    display: block;

}

#data-table {
    border-spacing: 0 0.5rem;
    width: 100%;
    color: var(--table-font);
}

#data-table thead tr th:first-child,
#data-table tbody tr td:first-child {
    border-radius: 2rem 0 0 2rem;
}

#data-table thead tr th:last-child,
#data-table tbody tr td:last-child {
    border-radius: 0 2rem 2rem 0;
}

#data-table thead th {
    background: var(--background-table-tr);
    text-align: left;
    padding: 1rem 1.5rem;
    
}

#data-table tbody tr:hover {
    opacity: 1;
}

#data-table tbody tr {
    opacity: 0.75;
}

#data-table tbody td {
    background: var(--background-table-tr);
    padding: 1rem 1.5rem;
    
}

td.expense {
    color: var(--red);
}

td.income {
    color: green;
}

/* Modal ===============================*/

.modal-overlay {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;

    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: var(--background-modal);
    padding: 2.4rem;
    max-width: 500px;
    width: 90%;

    position: relative;
}

/* Form ===============================*/

#form h2 {
    margin-top: 0;
}

#form input {
    border: solid 2px transparent;
    outline: none;
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.25rem;
    width: 100%;
    color: var(--form-input-font);
    background: var(--background-form);
}

.input-group {
    margin-top: 0.8rem;
}

.input-group .help {
    color: var(--help-font);
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group .button,
.input-group button {
    width: 48%;
}

#form input.required {
    border: solid 2px var(--red);
}


#form input[type=date] {
    color: grey;
}


/* Footer ===============================*/

footer {
    text-align: center;
    color: var(--footer-font);
    margin: 4rem 0 2rem;
    opacity: 0.6;
}

@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}